.page-header
  h1 Details of game

div(about=path_to.game(game))
  .field(property='ownerId')= game.ownerId
  .field(property='ownerName')= game.ownerName
  .field(property='title')= game.title
  .field(property='type')= game.type
  .field(property='createdAt')= game.createdAt

.actions
  != link_to('Edit', path_to.edit_game(game), {class: 'btn primary'}) + ' '
  != link_to('Delete', path_to.game(game), {class: 'btn danger', method: 'delete', remote: true, jsonp: '(function (u) { location.href = u; })'})
  span= ' or '
  != link_to('Back to index', path_to.games())
